/*trump Gothic East Font*/
@font-face {
    font-family: trumpGothic;
    src: url(assets/trump_gothic_east_bold.ttf);
}

.gothic {
    font-family: trumpGothic;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
/*  text-align: center;*/
}

/*loader*/

.headerDiv {
    height: 760px;
    background: fixed;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.navopen {
    font-size: 45px;
    color: white;
}

#redBar {
    width: 44px;
    height: 4px;
    background-color: red;
}

.introDiv {
    margin-top: 75px;
}

.startBtn {
    margin-top: 19px;
    color: white;
    background-color: red;
    border: none;
    /*    box-shadow: 0px 0px 3px red;*/
    border-radius: 4px;
    width: 250px;
    height: 65px;
}

.seeMoreBtn {
    margin-top: 19px;
    color: white;
    background-color: red;
    border: none;
    /*    box-shadow: 0px 0px 3px red;*/
    border-radius: 4px;
    width: 250px;
    height: 65px;
    margin-left: 170%;
    /*    padding: 10px;*/
}

.span1 {
    font-size: 20px;
}

#line {
    margin-top: 100px;
    height: 0.1px;
    width: 100%;
    background-color: gray;
}

/* Bounce To Left */
.hvr-bounce-to-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.hvr-bounce-to-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #B80000;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-left:hover,
.hvr-bounce-to-left:focus,
.hvr-bounce-to-left:active {
    color: white;
}

.hvr-bounce-to-left:hover:before,
.hvr-bounce-to-left:focus:before,
.hvr-bounce-to-left:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Shutter In Vertical */
.hvr-shutter-in-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: red;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-shutter-in-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*    background: #B20000;*/
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-shutter-in-vertical:hover,
.hvr-shutter-in-vertical:focus,
.hvr-shutter-in-vertical:active {
    color: white;
}

.hvr-shutter-in-vertical:hover:before,
.hvr-shutter-in-vertical:focus:before,
.hvr-shutter-in-vertical:active:before {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}

.top2 {
    z-index: 1;
}

.top {
    z-index: 0;
}

.wordpressDiv {
    background-image: url(images/wordpress%20logo.png);
    /*    filter: blur(10px);*/
    z-index: 1;
    /*    height: 300px;*/
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*    background-size: cover;*/

    /*    position: absolute;*/
}

.wordpressContent {
    z-index: 1;

    position: relative;
}

.gradientLine {
    background-image: url(images/gradient%20line.png);
    background-size: cover;
    /*    height: 100px;*/
    /*    max-height: 10px;*/
    background-attachment: fixed;
    z-index: 1000;
    padding: 15px 0px 10px;
    /*    position: fixed;*/
}

.hoverfade {
    position: relative;
    z-index: 0;
}

.hoverfade:hover .middle {
    opacity: 0.8;
}

.middle {
    padding: 15px 15px;
    background-color: red;
    border: 1px solid red;
    color: white;
    border-radius: 4px;
    position: absolute;
    top: 85%;
    left: 39%;
    opacity: 0;
    transition: 0.5s ease;
    cursor: pointer;
    z-index: 1;
}

.middle:hover {
    opacity: 1;
}

.zoomcursor {
    cursor: zoom-in;
}

.hoverZoom{
    transition: 0.7s;
/*    position: relative;*/
/*    overflow: hidden;*/
/*     z-index: -1;*/
}

.hoverZoom:hover{
    transform: scale(1.2);
    z-index: 0;
/*        transform: rotate(-20deg);*/

}

.hoverZoomDiv{
    transition: 0.7s;
}

.hoverZoomDiv:hover{
    transform: scale(1.08);
}

.hoverZoomDiv1{
    transition: 0.7s;
}

.hoverZoomDiv1:hover{
/*    transform: scale(1.08);*/
    transform: rotate(-20deg);
}
